

a {
  text-decoration: none;
}

.bodyl {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background-color: #eceef9;
  }
  
  footer {
    color: white;
    background-color:#27272B;
    bottom: 0;
  }
  
  .row {
    display: flex;
    padding: 2rem;
  }
  
  .column {
    
    padding: 0 0.9375rem;
    width: calc(100% / 2); /* Adjust the number of columns as needed */
    
  }
  
  .col {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
  }
  .image
  {
    width: 45px;
    height: 45px;
  }

  
  ul {
    list-style:none;
    margin: 0;
    
  }
  
  ul li {
    margin-bottom: 0.625rem;
  }
  
  .foo {
    color:white;
    font-size: 1rem;
    transition: 0.3s all ease;
  }
  
 
  
  .foo:hover {
    color: #6faaff;
    margin-left: 0.2rem;
  }
  
  ul.social-icons {
    display: flex;
    column-gap: 0.625rem;
  }
  
  
  .social-icons  {
    justify-content: flex-end; 
    padding-right: 80px;
  }
  ul.social-icons li {
    margin-bottom: 0rem;
  }
  
  ul.social-icons li a {
    display: grid;
    place-content: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    border: 1.5px solid #6FAAFF;
  }
  
  ul.social-icons li:hover a {
    background-color: #6faaff;
    animation: shake 0.3s ease;
    margin-left: 0;
  }
  
  ul.social-icons li:hover i {
    color: #fff;
  }
  
  .copyright {
    text-align: center;
    color:black;
    background-color:aliceblue;
    padding: 0.6rem 0;
  }
  
  /* Shake animation */
  @keyframes shake {
        from,
        to {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(0.9, 1.1);
        }
        50% {
          transform: scale(1.1, 0.9);
        }
        75% {
          transform: scale(0.95, 1.05);
        }
      }
  
  
  /* Responsive adjustments for mobile version */
  @media screen and (max-width: 768px) {
    .column {
      margin: 0.4rem 0;
      width: 100%;
      padding: 0;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .col {
      font-size: 1.3125rem;
    }
  
    p {
      font-size: 0.9375rem;
    }
  
    ul li a {
      font-size: 0.9375rem;
    }
  
    ul.social-icons li a {
      width: 1.975rem;
      height: 1.975rem;
    }
  }
  .labelf {
    height: 275px;
    width: 544px;
  }
  
  .labelf .WE-d-LIKE-LOVE-TO {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    width: 544px;
  }
  
  .labelf .text-wrapper {
    color: #f5f5f5;
  }
  
  .labelf .span {
    color: #80d388;
  }
  
  .labelf .text-wrapper-2 {
    color: #a3b8d1;
  }
  .below-links
  {
    padding-left: 400px;
text-align: justify; 
 }
 button[class="buttonf"]
 {
    width:200px;
    height: 44px;
    background: black;
    color: white;
    align-items: center;
    border: solid 1px white;
    letter-spacing: .3em; 
    margin-bottom: 20px;
    
  }
  button[class="buttonf"]:hover
  {
   animation: shake 0.3s ease;

 }
