.body2{
    background :no-repeat url("https://img.freepik.com/free-photo/watercolor-light-steel-blue-wallpaper-image_53876-94665.jpg?w=740&t=st=1694717172~exp=1694717772~hmac=de540373bfdb24c949a58dbbcee923900af20d708b5635b326f2895832079800");
    background-size:cover;
    font-size: 17px;
    font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input[type=text],[type=number],[type=password]
{
    width:50%;
    padding: 3px 22px;
    border-radius: 10px;
    margin-left: 30px;
    box-sizing: border-box;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
input[type=email]
{
    width:50%;
    padding: 3px 22px;
    border-radius: 10px;
    margin-left: 30px;
    box-sizing: border-box;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
button[class="submit2"] {
    margin-top: 1x;
    cursor: pointer;
    font-size: 12px;
    background:lightcyan;
    border: 1px solid black;
    color: black;
    padding: 5px 20px;
  }
  .signup-form {
    background-color:steelblue;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 7rem;
    position:relative; 
     
    top:2px; 
    box-shadow: 1 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
    
  }
