/* color:  red#ec1c24, black#212d31, grey#343a40, white#eee  */


.bodyc {
  padding: 2rem;
  color: #212d31;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.contains {
  background-color: #eee;
  height: 90vh;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper8 {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}



.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
    font-size: 18px;
}

::-webkit-input-placeholder { 
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}



.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper8 > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper8 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper8 > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}
.faqc
{
  color: #212d31;
}
.con{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.con label {
  display: block;
}
.lc{
  text-align: left;
}
.con  p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}


.reset-btn, .submit-btn{
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
 .submit-btn:hover,
.submit-btn:focus,
 .reset-btn:hover,
.reset-btn:focus{
  background: #ec1c24;
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}

