.body0
{
  background-image: url("../imag/job\ home.jpg");
  background-size: 55% 100%;
  background-position: right;
  background-repeat:no-repeat ;
    height:90vh;
}
@media screen and (max-width: 375px) {
  .find-the-job-that {
    font-size: 20px;
  }
}
body, html {
    font-family: 'Helvetica Neue', Helvetica;
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
}
.find
{
  padding: 10px 40px;
  font-size: 20px;
  margin-left: 40px;
  float: left;
  background-color:rgb(205, 219, 238);
  transition: background-color 0.3s ease;
  border-radius: 20px; 
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.find:hover {
  animation: shake 0.3s ease;
  background-color: #2980b9; 
}
.find-the-job-that {
  color: #000000;
  font-family: "Calistoga-Regular";
  font-size: 80px;
  font-weight: 800;
  width: 700px;
  text-align: left;
  padding-left:40px;
}


.label2 .text-wrapper {
  color: #000000;
  font-family: "Inknut Antiqua-Regular";
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  padding-left:40px;
  width: 701px;
}

.box {
  height: 562px;
  width: 1342px;
}

.box .section {
  height: 562px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1342px;
}


.footer
{
    background-color:steelblue;
}
.sb_footer
{
    display:flex;
    flex-direction: column;
}
.sb_footer-links
{
    display:flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width:90%;
    text-align: left;
    margin-bottom:1rem;
    flex-direction: row;
}
.sb_footer-links_div
{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
.sb_footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9 rem;
}
.sb_footer-links_div p{
    font-size:12px;
    line-height:15px;
    margin:0.5rem 0;
    cursor:pointer;
}
.sb_footer-below
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links p{
    font-size:13px;
    line-height:15px;
    margin-left:2rem;
    color: white;
    font-weight: 600;
}
hr{
    color: white!important;
    width:100%
}
.sb_footer-copyright
{
    font-size: 13px;
    line-height: 15px;
    color:black;
    font-weight: 600;
}
.bottom {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    justify-content: center;
  
  }

  .quote1 {
    width: 80%;
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
  }
  .prof{
  
    border-radius:100px;
    height: 200px;
    width: 200px;
} 
/*feedback*/
.main5 {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    overflow: hidden;
    height: 100vh;
    width: 99vw;
  }
  .testimonials {
    background-color: #ffffff;
    width: 100%;
    max-width: 940px;
    margin: 20px;
    box-shadow: 0 6px 5px -7px black;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    animation: showTestimonials 0.32s 0.78s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  }
    .input {
      display: none;
      height: 0;
      width: 0;
      pointer-events: none;
      opacity: 0;
    }
    @keyframes showTestimonials {
        to {
          opacity: 1;
        }
      }
      .testimonial-author {
        font-size: 12px;
        text-align: right;
        color: #bdbdbd;
        padding-right: 10px;
        letter-spacing: 0.24px;
        text-transform: uppercase;
        text-shadow: 0 0 1px #e3e3e3;
        &:before {
          content: '– ';
        }
      }
      
      .testimonial-text {
        color: #606060;
        font-size: 16px;
        text-align: center;
        text-shadow: 0 0 1px #939393;
        letter-spacing: 0.12px;
        font-style: italic;
        line-height: 26px;
      }
        
        .testimonial-transition {
          transition: transform 0.3s ease-in-out; /* You can adjust the duration and timing function as needed */
        }
        
      